<div class="my-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active">Library</li>
    </ol>
    <h1>Blogs</h1>

    <% @blogs.each do |blog| %>
    <div class="card mb-4">
        <div class="imageBlogS">
          <%= image_tag(blog.backgroundblog.url(:original),class: "card-img-top")%>
        </div>
        <div class="card-body">
            <h2 class="card-title"><%= blog.title %></h2>
            <p class="card-text">
              <%= blog.content %>
            </p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on <%= blog.updated_at %> by
            <a href="#"><%= blog.user.name %></a>
        </div>
    </div>
    <% end %>
</div>
