<div class="row">
  <div class="col-md-10">
    <div class="my-4" id="loginContent">

        <h2>New Bloged</h2>
        <%= form_with(model: @blog, local: true) do |f| %>
          <div class="form-group">
            <%= f.label :title , "Title"%>
            <br />
            <%= f.text_field :title, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group summernote">
            <%= f.label :content, "Content" %>
            <br />
            <%= f.text_area :content, id: :"courrier-examen" , class: "summernote"%>
          </div>
          <div class="form-group">
            <%= f.label :backgroundblog , "Image cover"%>
            <br />
            <%= f.file_field :backgroundblog, autocomplete: "off", class: "btn btn-primary" %>
          </div>
          <div class="actions">
            <%= f.submit "Post", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
