<div class="my-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active">Library</li>
    </ol>
    <h1>Albums</h1>


    <% @albums.each do |album| %>

    <div class="card my-4">
        <div class="container-fluid">
            <div class="row py-4">
                <div class="fixImageContainer" style="display: block; height: 280px; width: 100%;">
                    <%= image_tag(album.background.url(:original),class: "card-img-top")%>
                </div>
                <div class="col-3 mx-auto">
                    <%= image_tag(album.user.picture.url(:original),class: "rounded-circle img-fluid")%>
                </div>
                <div class="col-12 text-center">
                    <div class="alert alert-info">Posted on <%= album.updated_at %> by 
                        <a href="#"><%= album.user.name %></a></div>
                        <div class="row">
                            <div class="col-12 py-2" style="text-align:center;">
                              <%= link_to album_path(album.id), class: "btn btn-info" do%>
                              View More &rarr;
                              <% end %>
                              <div class="row-1 py-2">
                                  <span class="btn btn-outline-warning btn-sm">
                                      nature
                                  </span>
                                  <span class="btn btn-outline-warning btn-sm">
                                      infographic
                                  </span>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center">
                <span class="col-sm text-center">
                    <i class="fa fa-heart"></i>
                    <br>
                    Likes
                    <h4>
                      N/A
                    </h4>
                </span>
                <span class="col-sm text-center">
                    <i class="fa fa-picture-o"></i>
                    <br>
                    Images
                    <h4>
                      <%= album.images.count %>
                    </h4>
                </span>
                <span class="col-sm text-center">
                    <i class="fa fa-eye"></i>
                    <br>
                    View
                    <h4>
                    <%= (album.images.sum(:view))/2 %>
                      
                    </h4>
                </span>
            </div>
        </div>
    </div>
    <% end %>

</div>


